<div class="wave-container container-fluid common-bg rounded-bottom z-depth-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">

  <!-- Section: Blog v.1 -->
  <section class="mb-5">

    <!-- Section heading -->
    <div class="centered mt-5 mb-3 wow animate__zoomIn mt-3" data-wow-delay="1s" data-wow-duration="1s">
      <i class="fas fa-gopuram red-text fa-2x"></i>
      <h3
        class="my-3 d-inline h1-responsive common-header font-weight-bold"> Temple
        Legend</h3>
    </div>
    <!-- Section description -->
    <p class="mx-auto mb-5 common-text wow animate__zoomIn" data-wow-delay="1s"
       data-wow-duration="1s"><i class="fas fa-quote-left"></i>
      The temple where it is situated now, was owned by 2 illam's (ancestral home of the Nambudiries) about 4
      centuries ago. The temple at that time was in the form of a straw hut. The whole land that was part of the
      temple were in many acres.</p>

  </section>
</div>

<hr class="my-5">

<div class="container rounded common-bg z-depth-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">
  <section class="my-3">
    <!-- Grid row -->
    <div class="row z-depth-5 my-3 wow animate__fadeInRight" data-wow-delay="0.6s" data-wow-duration="1s">

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view rounded mb-lg-0 my-4 pb-3">
          <img alt="Sample image" class="img-fluid" src="assets/images/kavadam.jpg">
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 my-5">

        <!-- Category -->
        <a class="green-text common-sub-header">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-praying-hands"></i> Legend</h6>
        </a>

        <!-- Excerpt -->
        <p class="common-text">Aithihyamala (the Garland of Legends), says that Lord Prashurama (the 6'th incarnation
          of Lord Vishnu) created 108 Shivalayas, 108 Durgalayas and 108 Kalaris, along with temples for Serpents, and
          brought Nambudiris from outside Kerala (no Nambudiri priests were present in Kerala during the time) to
          perform rituals in these temples. It is said that Sri Kalarikkal Bhagavathy temple was one of the Durgalayas
          that Lord Parashurama created.</p>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </section>
</div>

<hr class="my-5">


<div class="container common-bg rounded z-depth-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">
  <section class="my-3">
    <!-- Grid row -->
    <div class="row z-depth-5 my-3 wow animate__fadeInRight" data-wow-delay="1s" data-wow-duration="2s">

      <!-- Grid column -->
      <div class="col-lg-7 my-4">

        <!-- Category -->
        <a class="amber-text common-sub-header pt-2">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-dungeon"></i>
            British Invasion</h6>
        </a>

        <div class="common-text">

          <p>During the British rule, when Brahmins became the target of persecution, people
            of these 2 illam's gave away one portion of this land to a Musaliar. The other portion, were the temple
            was located, were given to a Panikkar family, as they hoped for this temple to be protected and daily
            rituals performed. VenuGopala Panikkar belongs to this lineage.
          </p>

          <p>
            After buying this land, many ill's came upon the Musaliar family and stories are abound. Many generations
            hence, the globe trotting people of this family was told by some visionary, to contact VenuGopala
            Panikkar, the renowned Astrologer administering the temple now, to get rid of these ill's that had
            befallen them. Astrologer VenuGopala Panikkar gave advice to do Vedic rituals to get rid of their ill's.
            They readily consented as they had already lost many lands, many had died due to mysterious diseases and
            many were having diseases of unknown nature and were in utter poverty.
          <p>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5 my-3">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mt-3">
          <img alt="Sample image" class="img-fluid" src="assets/images/lakshmi-linga.jpg">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </section>
</div>
<hr class="my-5">

<div class="container common-bg rounded z-depth-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">
  <section class="mb-5">
    <!-- Grid row -->
    <div class="row z-depth-5 my-3 wow animate__fadeInLeft" data-wow-delay="1s" data-wow-duration="2s">

      <!-- Grid column -->
      <div class="col-lg-5 my-2">

        <!-- Featured image -->
        <div class="view overlay rounded mb-lg-0 mb-4 mt-4 pb-2">
          <img alt="Sample image" class="img-fluid" src="assets/images/about-section-3.jpeg">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 my-5">

        <!-- Category -->
        <a class="blue-text common-sub-header">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-atom"></i>
            Ancestry</h6>
        </a>

        <div class="common-text">
          <p>Venu's great grandmother used to get 4 anas (25 paise - imagine it's value some
            3 generations back!!) every day, while sweeping the temple premise. Thus, the family became rich in
            unimaginable proportions, having huge houses and property. But slowly they lost interest in rituals, due
            to immense wealth and partly due to British colonization and the onslaught of missionaries.</p>

          <p>
            Needless to say, the Panikkar family started it's decline. Great grandfather started selling the land
            belonging to the temple, some close relative even sold some divine belongings of the deity, and the family
            fell into poverty and disease, continuing the trend down to the next generation. The abandonment of the
            temple continued till the 80's.
          </p>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
</div>
<!-- Section: Blog v.1 -->
<hr class="my-5">
<!-- Section: Blog v.1 -->
<div class="container common-bg rounded z-depth-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">
  <section class="my-5">

    <!-- Section heading -->
    <div class="centered pt-5 z-depth-0 rounded wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="2s">
      <i class="far fa-star cyan-text fa-3x"></i>
      <h2 class="d-inline h1-responsive font-weight-bold text-center my-5 common-header"> VenuGopala
        Panikkar</h2>
    </div>
    <!-- Grid row -->
    <div class="row z-depth-5 my-3 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="2s">

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded mb-lg-0 mb-4 mt-2 pb-2">
          <img alt="Sample image" class="img-fluid" src="assets/images/about-venu.jpg">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 my-5">

        <div class="common-text">
          <p>
            After completed basic schooling, VenuGopala Panikkar started learning Astrology under the guidance of his
            uncle, who was a practitioner. He studied the sacred science for about 9 years. He took pains to learn
            this sacred science while his family was in poverty.
          </p>

          <p>
            During this time, his Father died. Within a short span, his 2 brothers also died. This pain led him to
            enquire about the cause of these incidents and set about to meet renowned astrologers of that time. But he
            was dissatisfied by the answers he received.
          </p>

          <p>
            This led him to learn Vedic rituals and Prashna thoroughly. After completing this, he used his learning to
            understand the mysteries surrounding the temple and his ancestors. He thus started to revive the
            dilapidated temple.
          </p>

          <p>
            This was a risky endeavor as whoever tried to revive the temple met with his death immediately. He
            understood that this temple not only had a single main deity but a host of other beings who had equal
            importance. He understood the meaning of all this through Prashna, and that each deity represented a
            planet and has to do rituals accordingly. This fact was not known and was the cause of untoward incidences
            to those who tried to revive this temple.
          </p>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </section>
</div>
<hr class="my-5">

<div class="container common-bg rounded z-depth-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">
  <section class="mx-5">
    <!-- Grid row -->
    <div class="row my-3 wow animate__fadeIn" data-wow-delay="1s" data-wow-duration="2s">

      <!-- Grid column -->
      <div class="col-lg-7 my-3">

        <!-- Category -->
        <a class="amber-text common-sub-header">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-cubes"></i> Present day</h6>
        </a>

        <div class="common-text">
          <p>
            By that time VenuGopala Panikkar got married. In those difficult times, he bought 2 grams of gold, created
            the Sree Chakra, and asked his Father-in-law, who was also adept in rituals, to do the Prathishta of the
            Devi. This was done on the star 'Thiruvonam' (Shravana) in the month of 'Edavam' (Taurus) in 1999. There
            was only a make shift roof made of tarpaulin to protect the deity from the seasons. VenuGopal was 38 years
            of age then.
          </p>

          <p>
            During the prathistha day, a girl child came to see VenuGopala Panikkar. As he was busy with the temple
            rituals, the child asked his wife’s sister of her intention to meet him but everybody got busy with the
            ritual and soon forgot about her. People believe that it was the Devi herself who came.
          </p>

          <p>
            Since then, the temple has grown inorganically, people from all walks, flock to receive her blessings.
            VenuGopala Panikkar is now a renowned astrologer who has made a name in the field of Astrology and Vedic
            Rituals. People from all over the world consult with him and prosper, taking his advice and Devi's
            blessings.
          </p>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5 mt-3">

        <!-- Featured image -->
        <div class="rounded pb-2">
          <img alt="Sample image" class="img-fluid rounded" style="height: 300px; width: 100%; margin-top: 50px"
               src="assets/images/about-present.jpg">
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


  </section>
</div>
