<div class="wave-container common-bg">

  <div class="container my-5 py-5 z-depth-1">

    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 wow animate__zoomIn" data-wow-duration="2s"
             data-wow-delay="0.6s">

      <div class="row mb-5">
        <div class="col-12 col-md-12 mx-auto">
          <div class="view mb-4 pb-2">
            <img src="assets/images/verify.webp" class="img-fluid"
                 alt="Bhagavathy">
          </div>
        </div>
      </div>

      <h3 class="font-weight-bold mb-4 pb-2 common-header">Verification Complete</h3>

      <p class="text-center mx-auto mb-4 pb-2 common-text">Email {{subscriber.email}} has been verified</p>

      <button (click)="goHome()" type="button" class="btn btn-warning warning-color lighten-3 btn-rounded">Home</button>

    </section>
    <!--Section: Content-->


  </div>
</div>
