<div class="wave-container">

  <div class="container common-bg rounded h-100 my-5 py-2 z-depth-5 wow animate__zoomIn" data-wow-delay="0.6s" data-wow-duration="2s">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0 wow animate__fadeInRight" data-wow-delay="0.6s" data-wow-duration="2s">

          <i class="far fa-sun fa-2x red-text"></i>
          <h3 class="font-weight-bold d-inline py-2 common-header"> Sri Kalarikkal Bhagavathy</h3>

          <div class="common-text my-3">
            <p>Sri Kalarikkal Bhagavathy is the main deity in the temple. A divine and soothing
              energy, the Mother of the Universe, is Mother to a million devotees.</p>

            <p>
              People from all walks of life come to have Darshan, for grant of wishes and wisdom.
            </p>

            <p>
              The picture depicted is her form as envisioned by the Tantri.
            </p>

            <p>
              Daily rituals are performed as prescribed in the Vedic rituals of Indian traditions.
            </p>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0 wow animate__fadeInLeft" data-wow-delay="0.6s" data-wow-duration="2s">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="assets/images/bhagavathy.jpg" class="img-fluid rounded"
                 alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
  </div>

  <div class="container common-bg rounded my-5 p-5 z-depth-5 wow animate__zoomIn" data-wow-delay="0.6s" data-wow-duration="2s">

    <!--Section: Content-->
    <section class="dark-grey-text">

      <!-- Section description -->
      <p class="lead mx-auto mb-5 common-text wow animate__fadeInRight" data-wow-delay="0.8s" data-wow-duration="2s">
        <i class="fas fa-quote-left"></i>The temple is situated at Vettikkattiri, near
        Cheruthuruthi, Vallathol Nagar, Shornur, Kerala. People call the temple <b>'Kalari'</b>.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 text-center text-lg-left wow animate__fadeInRight" data-wow-delay="1s"
             data-wow-duration="2s">
          <img alt="Sample image" class="img-fluid mt-4 rounded" src="assets/images/lakshmi-linga.jpg">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-8  wow animate__fadeInLeft" data-wow-delay="1.2s" data-wow-duration="2s">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-xl-12 col-md-12 col-12">
              <i class="fas fa-spa red-text mr-2 mb-3"></i>
              <h3 class="font-weight-bold d-inline common-sub-header"> Speciality</h3>
              <p class="common-text">Vedic rituals are performed with at-most perfection that is
                unheard of in other such temples. One has to experience the splendour and grandeur of such ceremonies
                that
                elevate man to realms of spirituality.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-xl-12 col-md-12 col-12">
              <i class="fas fa-spa red-text mr-2 mb-3"></i>
              <h3 class="font-weight-bold d-inline common-sub-header"> Priests</h3>
              <p class="common-text">Priests are chosen according to Deva Prashna that gives insights into the
                Deity's wishes.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!--Grid row-->
          <div class="row">

            <!-- Grid column -->
            <div class="col-xl-12 col-md-12 col-12">
              <i class="fas fa-spa red-text mr-2 mb-3"></i>
              <h3 class="font-weight-bold d-inline common-sub-header"> Management</h3>
              <p class="mb-0 common-text">Rituals are performed under the guidance and direction of the
                renowned astrologer,
                Mr. VenuGopala Panikkar.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->

  </div>

  <div class="container common-bg rounded my-5 py-5 z-depth-5 wow animate__zoomIn" data-wow-delay="0.6s" data-wow-duration="2s">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 mb-4 mb-lg-0 d-flex align-items-center justify-content-center wow animate__fadeInRight"
             data-wow-delay="0.6s" data-wow-duration="2s">
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="assets/images/ritual.jpg" class="img-fluid rounded"
                 alt="">
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 mb-4 mb-lg-0 wow animate__fadeInLeft" data-wow-delay="0.6s" data-wow-duration="2s">

          <i class="fab fa-affiliatetheme red-text mr-2 mb-3"></i>
          <h3 class="font-weight-bold d-inline common-sub-header">Tantric Rituals</h3>

          <div class="common-text">
            <p>Vedic scriptures prescribe innumerous rituals to be performed.</p>

            <p>The effectiveness of these rituals depends on the suitability of the ritual
              and the venue of the ritual among other things.
            </p>

            <p>
              The most important is the person performing the ritual. When all these are
              accurate and appropriate, the effect is immediately experienced.
            </p>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  <div class="container common-bg rounded my-5 z-depth-5 wow animate__fadeInLeft" data-wow-delay="0.6s" data-wow-duration="2s">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0 wow animate__fadeInRight" data-wow-delay="0.6s" data-wow-duration="2s">

          <i class="fas fa-yin-yang red-text mt-3 mt-5 mr-2 mb-3"></i>
          <h3 class="font-weight-bold d-inline common-sub-header">Astrology</h3>
          <div class="common-text">
            <p>
              Things that look ordinary at first sight often reveal a deep cosmic truth on closer examination.
              This is especially true in the realm of astrology.
            </p>

            <p>
              It is an established fact that the waxing and waning of the moon affects tides and the mental condition
              of people. It is also true that the planets and stars have an effect on our world and our
              destinies.
            </p>

            <p>
              This fact is the basis on which astrology makes predictions. These predictions sometimes call
              for remedial steps in the form of divine intervention invoked by rituals.
            </p>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 py-2 wow animate__fadeInLeft" data-wow-delay="0.6s" data-wow-duration="2s">

          <!--Image-->
          <div class="view overlay">
            <img src="assets/images/astrology.jpg" class="img-fluid rounded"
                 alt="">
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->

  </div>

</div>
